include LICENSE
include NOTICE
include README.md
include MANIFEST.in
include staramr/databases/exclude/data/genes_to_exclude.tsv
include staramr/tests/integration/data/*.fsa
include staramr/tests/integration/data/gene-drug-tables/*.tsv
include staramr/tests/unit/data/*.fasta
recursive-include staramr/databases/data/dist/ *
include staramr/databases/resistance/data/*
