name: Integration Tests

on:
  pull_request: # Run on all pull requests
  push:
    branches:   # Run on any push to master and development
      - master
      - development
  schedule:     # Run weekly on master and development
    - cron: 0 2 * * 0
      branches: master
    - cron: 0 2 * * 0
      branches: development


jobs:
  build:
    runs-on: ubuntu-latest

    env:
      DATABASE_COMMITS: '--resfinder-commit 65c9ba3b680d13fe5eb13ec78bf1a4160ef4c6d7 --pointfinder-commit 694919f59a38980204009e7ade76bf319cb7df0b --plasmidfinder-commit 49c24c1c9401fa175fbcfdbd4b37227a160baca4'
    
    strategy:
      fail-fast: False
      matrix:
        include:
          - python-version: "3.9"
            other-packages: "mlst>=2.32.2 numpy pandas coloredlogs biopython=1.85 gitpython"

    steps:
      - uses: actions/checkout@v2

      - name: Setup Conda with Python ${{ matrix.python-version }}
        uses: conda-incubator/setup-miniconda@v2
        with:
          miniconda-version: "latest"
          activate-environment: staramr-env
          python-version: ${{ matrix.python-version }}

      - name: Install conda packages
        shell: bash -l {0}
        run: |
          conda info
          conda list
          conda config --add channels defaults
          conda config --add channels conda-forge
          conda config --add channels bioconda
          conda install -n base conda-libmamba-solver
          conda config --set solver libmamba
          conda install Cython blast git perl-list-moreutils ${{ matrix.other-packages }} -y

      - name: Setup python packages
        shell: bash -l {0}
        run: |
          python --version
          python setup.py -q install

      - name: Build database
        shell: bash -l {0}
        run: staramr db build --dir staramr/databases/data ${{ env.DATABASE_COMMITS }}

      - name: Run Tests
        shell: bash -l {0}
        run: |
          pip install pytest
          pytest
